.nav-pages
  &__next
    &:before
      display: block
      float: right
      margin-left: 20px
      margin-top: 6px
      width: 16px
      height: 32px
      content: ""
      background: url(img/next.png) no-repeat
    span
      text-align: right
    .nav-pages__wrap
      text-align: right