.whole-popup__content
  position: relative
  -webkit-transform: translate(0, 0)
  -moz-transform: translate(0, 0)
  -o-transform: translate(0, 0)
  -ms-transform: translate(0, 0)
  transform: translate(0, 0)
  -webkit-transition: all ease-in-out 0.5s
  -o-transition: all ease-in-out 0.5s
  transition: all ease-in-out 0.5s