.service-discount_mystore
  padding: 45px 0 78px 0
  .service-discount__title
    margin-top: 35px
    margin-bottom: 68px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    line-height: 47px
  .service-discount__description
    margin-bottom: 23px
    line-height: 46px
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 36px
