.title_main-page
  line-height: 1.3em
  font-family: "robotolight"
  font-weight 100
  -webkit-font-smoothing: antialiased
  color: white

  &_headline
    margin-top: 57px
    margin-bottom: 0
    line-height: 100px
    font-size: 70px
    text-shadow: 1px 1px 0px rgba(0,0,0,.35)
    font-family: "robotolight"
    font-weight 100
    -webkit-font-smoothing: antialiased
    color: white

  &_headline2
    margin-top: 100px
    margin-bottom: 15px
    line-height: 100px
    font-size: 70px
    text-shadow: 1px 1px 0px rgba(0,0,0,.35)
    font-family: "robotolight"
    font-weight 100
    -webkit-font-smoothing: antialiased
    color: white

  &_screen
    margin-bottom: 18px
    line-height: 58px
    font-size: 48px
    font-family: "robotolight"
    font-weight 100
    -webkit-font-smoothing: antialiased
    color: white

  &_screen-content
    display: inline-block
    max-height: 130px
    min-height: 130px
    font-size: 36px
    line-height: 43px
    font-family: "robotolight"
    font-weight 100
    -webkit-font-smoothing: antialiased
    color: white
    overflow: hidden

  &_screen-content-red
    @extend .title_main-page_screen-content
    line-height: 126px
    vertical-align: middle

  &_screen-subcontent
    font-size: 30px
    line-height 36px
    font-family: "robotolight"
    font-weight 100
    -webkit-font-smoothing: antialiased
    color: white

  &_screen-in-head
    margin-top: 160px
    margin-bottom: 10px
    @extend .title_main-page_screen

  &_screen-in-slide
    margin-bottom: 10px
    @extend .title_main-page_screen

  &_video-list
    margin-top: 60px
    margin-bottom: 35px
    font-size: 24px
    font-family: 'robotomedium'
    color: red
    font-weight 100
    -webkit-font-smoothing: antialiased

  &_screen-href
    @extend .title_main-page_screen
    text-decoration: none