.abstract-section-list_type_review
  .abstract-section-list
    &__item
      padding-top: 28px
      padding-bottom: 2px
    &__title
      font-size: $fs-h3
      margin: -7px 0px -3px 0px
    &__subtitle
      margin-bottom: -5px