.abstract-section-list_type_available-width
  margin-top: -65px
  .abstract-section-list
    &__item
      width: 100%
      min-height: 1px
      float: left
      transition: height ease-in-out 1s, opacity ease-in-out .5s, margin ease-in-out .5s
      &:before
        display: block
        margin: 0 15px
        margin-bottom: 29px
        height: 1px
        background: white
        background: alpha(white, 0.6)
        content: ''
      &:after
        display: block
        clear: both
        content: ''
      &_hidden
        padding 0
        opacity: 0
        height: 0
        margin-bottom: 0
      &_visible
        opacity: 1
        height: auto
        margin-bottom: 42px
    &__title
      font-size: $fs-h3
      margin: -7px 0px -3px 0px
    &__subtitle
      margin-bottom: -5px
