.abstract-section-list_type_blog
  .abstract-section-list__title
    font-size: $fs-h3
    margin-top: 4px
    margin-bottom: 10px
  .abstract-section-list__subtitle
    margin: 0
  .abstract-section-list__subtitle_size_s
    margin-top: 6px
  p,
  .position
    font-size: $fs-h4
    -webkit-font-smoothing: antialiased