.service-discount_microsoft
  padding: 0
  padding-top: 45px
  padding-bottom: 87px
  .service-discount__title
    margin-top: 92px
    margin-bottom: 64px
    line-height: 37px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    text-transform: uppercase
  .service-discount__description
    margin-bottom: 22px
    margin-left: 0px
    text-transform: none
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    line-height: 48px
    &_small
      margin-top: 40px
      margin-bottom: 52px
      line-height: 61px
      font-size: 48px
  .content__text
    font-size: $fs-small
    line-height: 100%
    margin-top: 36px
    margin-bottom: 0
    opacity(.7)

  .service-discount__decimal
    position: relative
    display: inline-block
    line-height: 100%
    font-weight: 100
    -webkit-font-smoothing: antialiased
  .service-discount__decimal_line-through
    &:after
      content: ''
      position: absolute
      top: 58%
      left: -2%
      width: 104%
      border-bottom: 1px solid white