.counteragent-info__column
  position: relative
  display: inline-block
  vertical-align: top
  width: 50%
  min-height: 1px
  padding-left: 15px
  padding-right: 15px
  margin-bottom: 42px
  font-size: $fs-base-plus

  &_last-row
    margin-bottom: 0