.table__tr
  list-style: none
  padding-top: 36px
  &:after
    display: block
    content: ""
    margin-top: 27px
    border: 0
    border-bottom: 1px
    border-style: solid
    border-color: $white-opacity-30