.article__title_color_white
  color: white
  a
    color: white
    border-color: white
    border-color: rgba(255, 255, 255, 0.3)
    &:hover,
    &:focus
      color:  darken(white, 20%)
      border-color: darken(white, 20%)
      color: rgba(255, 255, 255, 0.8);
      border-color: rgba(255, 255, 255, 0.3)