.article__title_color_black
  color: #414042
  a
    color: #414042
    border-color:#414042
    border-color: rgba(65, 64, 66, 0.3)
    &:hover,
    &:focus
      color: lighten(#414042, 20%)
      border-color: lighten(#414042, 20%)
      color: rgba(65, 64, 66, 0.8)
      border-color: rgba(65, 64, 66, 0.3)