.spokesman__title
  display: block
  position: relative
  padding : 27px 0 27px 30px
  font-size: 16px
  line-height: 24px
  &:after
    display: block
    clear: both
    content: ''
  &:before
    position: absolute
    top: 0
    bottom: -10px
    left: 0
    display: inline-block
    width: 10px
    background: $red-alfa
    content: ''
