.certificate-top
  p
    margin-top: 24px
    margin-bottom: 20px
    line-height: 29px

.certificate-top__expiration
.certificate-top__notification
  margin: 2px 0
  font-size: $fs-base
  color: #636263

.certificate-top__list-clarification
  font-size: 14px
  line-height: 1