.blockquote_main-page
  display: block
  position: relative
  margin-top: 152px
  background: transparent
  font-size: 18px
  line-height: 30px
  color: white
  &:before
    display: none
  &:after
    display: block
    clear: both
    content: ''

  .blockquote__text
    position: relative
    padding-left: 70px
    margin-bottom: 15px
    font-family: $ff-lightitalic
    &:before
      position: absolute
      top: -10px
      bottom: -10px
      left: 0
      display: inline-block
      width: 7px
      background: $red-alfa
      content: ''
    &:last-child
      margin-bottom: 0

  .blockquote__slogan
    padding-left: 70px
    font-family: $ff-bold