.container
  position: relative
  width: $width-template
  padding: 0 15px /* added by Karalkou on 22.01.16 */
  margin: 0 auto
  color: white
  &:after,
  &:before
    display :table
    content: ""
    clear: both
