.tiles__animation
  position: absolute
  left: 275px
  right: 7px /* changed from 0 in order to avoid white contour (see: tiles__link.styl) */
  top: 0
  bottom: 7px /* changed from 0 in order to avoid white contour (see: tiles__link.styl) */
  margin-right: -1px /* added in order to avoid white contour (see: tiles__link.styl) */
  opacity: 0
  overflow: hidden
  transition: opacity ease-in 1s
  z-index: 1
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  background-position: left top
  background-repeat: no-repeat