.tooltip__arrow
  display: block
  position: absolute
  z-index: -1
  opacity: 0
  content: ''
  width: 18px
  height: 11px
  bottom: 23px
  left: 50%
  margin-left: -9px
  background: url(img/bottom-arrow.png) no-repeat
  transition: opacity linear 0.2s
