//.counteragent-info__licenses-hint-acceptor

.counteragent-info__licenses-hint
  top: 25px
  width: 380px
  padding: 13px 15px
  font-size: $fs-small
  font-family: $ff-regular

  &:after
    content: ''
    position: absolute
    left: 9px;
    top: -6px
    display: block
    width: 0;
    height: 0;
    border-width: 0 6px 8px 6px
    border-style: solid
    border-color: transparent
    border-bottom-color: white