.service-discount_amocrm
  padding: 0
  padding-bottom: 87px
  .service-discount__title
    margin-top: 79px
    margin-bottom: 39px
    line-height: 37px
    -webkit-font-smoothing: antialiased
    font-size: 72px
  .service-discount__description
    margin-bottom: 22px
    margin-left: -3px
    text-transform: none
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 36px
    line-height: 48px
  .service-discount__description
    &_small
      margin-bottom: 36px
      line-height: 22px
      font-size: $fs-base-plus
      -webkit-font-smoothing: antialiased
