.events-list_even
  position: relative
  margin-left: 35px
  padding-left: 35px
  .events-list__item
    &:first-child
      margin-top: 110px
  .events-list__link
    &:after
      border-left: transparent
      border-right: 11px solid #fff
      right: auto
      left: -10px
    .events-list__date
      right: auto
      left: -50px
