.service-discount_online-patent
  padding: 46px 0 76px 0
  padding-bottom: 87px
  .service-discount__title
    margin-top: 47px
    margin-bottom: 80px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    line-height: 47px
  .service-discount__description
    margin-bottom: 36px
    line-height: 46px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 36px
