.rating__item
  display: inline-block
  margin-right: 5px
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;
  opacity: 0.5;
  &:before
    font-family: FontAwesome
    content: "\f006"
    //display: inline-block
  &:last-child
    margin-right: 0