.file-link_color
  &_white
    border-color: white
    border-color: alpha(white, 0.8)
    color: white
    &:before
      background: white
      background: alpha(white, 0.8)
    &:hover
      background: white
      background: alpha(white, 0.2)
      border-color: alpha(white, 0.2)
      color: white
      .file-link
        &__line
          background: white
      &:before
        background: white
        background: alpha(white, 0.2)
    .file-link__line
      background: white