.certificate-info
  .certificate-info__title
    margin-top: 45px
    margin-bottom: 25px
    line-height: 45px
    -webkit-font-smoothing: antialiased
    font-size: 34px
    font-family: $ff-light
  .certificate-info__description
    margin-bottom: 29px
    line-height: 30px
    font-size: $fs-base-plus
    &_bottom
      margin: 33px 0 0
    &_small
      margin-bottom: 36px
      line-height: 22px
      font-size: $fs-base-plus
      -webkit-font-smoothing: antialiased
    .list__item
      margin-bottom: 30px
  .certificate-info__expiration
    font-size: $fs-base-plus
    margin-top: 21px
    color: #636263
