.btn_disabled
  background-color: $grayDisabledBg_RGB
  border-color: darken($grayDisabledBg_RGB, 30%)
  color: darken($grayDisabledBg_RGB, 30%)
  cursor: default
  &:hover,
  &:active,
  &:focus
    background-color: $grayDisabledBg_RGB
    border-color: darken($grayDisabledBg_RGB, 30%)
    color: darken($grayDisabledBg_RGB, 30%)
    cursor: default