.bonuses-list__item-content
  a
    color: white
    border-color: white !important
    border-color:  alpha(white, 0.3) !important
    cursor: pointer
    &:hover,
    &:focus
      color: $white-opacity-80
      border-color: darken(white, 20%)
      border-color: alpha(white, 0.3)
      cursor: pointer