.service-discount_button
  padding: 0
  padding-bottom: 61px
  .service-discount__title
    margin-top: 58px
    margin-bottom: 56px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 82px
    line-height: 106px
  .service-discount__description
    margin-bottom: 46px
    font-size: $fs-medium
    line-height: $fs-h3

