.partners-list__company
  display: table-cell
  vertical-align: middle
  color: rgba(255,255,255,0.9)
  text-decoration: none
  &:hover,
  &:focus
    color: rgba(255,255,255,0.9)
    text-decoration: none