.message-v2__pic
  display: inline-block
  width: 54px
  height: 22px
  vertical-align: top
  font-size: $fs-base

  &_danger
    background: url(img/danger.png) no-repeat 0 0
  &_attention
    background: url(img/attention.png) no-repeat 0 0
  &_success
    background: url(img/success.png) no-repeat 0 0