.tiles-certificate__link_size
  &_xl
    height: 205px
    .tiles-certificate__animation
      left: 490px
  &_l
    height: 205px
    .tiles-certificate__animation
      left: 360px
  &_m
    height: 140px
    .tiles-certificate__animation
      left: 230px
  &_s
    height: 125px
    .tiles-certificate__animation
      left: 230px