.offset_margin-top_reset
  margin-top: 0 !important
.offset_margin-top_30
  margin-top: 30px !important
.offset_margin-top_medium-plus
  margin-top: $margin-medium-plus !important
.offset_margin-top_45
  margin-top: 45px !important
.offset_margin-top_50
  margin-top: 50px !important
.offset_margin-top_54
  margin-top: 54px !important
.offset_margin-top_60
  margin-top: 60px !important
.offset_margin-top_90
  margin-top: 90px !important
.offset_margin-top_s-double
  margin-top: $margin-base*2//~48
.offset_margin-top_s
  margin-top: $margin-base
.offset_margin-top_m
  margin-top: ceil($margin-base*1.66)//~40
.offset_margin-top_s-half
  margin-top: ceil($margin-base/2) !important //~12
.offset_margin-top_b-plus
  margin-top: ceil($margin-base*1.41)//~34
.offset_margin-top_min-17
  margin-top: -17px
.offset_margin-top_21
  margin-top: 21px
.offset_margin-top_31
  margin-top: 31px
.offset_margin-top_base
  margin-top: $margin-base
.offset_margin-top_min-49
  margin-top: -49px