.start-yb-item__contact-tel
  cursor: pointer
  span
    display: inline-block
    padding-left: 12px
    width: 161px
    visibility: hidden
    font-family: $ff-regular
    background-color: white
    color: #414042
    text-align: center

  &_visible
    cursor: default
    span
      visibility: visible