.video-list__play
  position: absolute
  top: 3px
  left: -70px
  display: inline-block
  width: 49px
  height: 35px
  border: none
  vertical-align: middle
  background: url(img/play.png) no-repeat 0 0
  &:hover
    border: none