.service-conditions_size
  -webkit-font-smoothing: antialiased
  &_xs
    position: static
  &_s
    margin-bottom: 8px
    line-height: 22px
    font-size: $fs-base
  &_m
    margin-bottom: 30px !important
    line-height: 28px !important
    font-family: $ff-thin
    font-size: 24px
  &_l
    margin-bottom: 30px !important
    line-height: 30px !important
    font-family: $ff-thin
    font-size: 28px
  &_xl
    margin-bottom: 8px !important
    line-height: 40px !important
    font-family: $ff-thin
    font-size: 34px