.certificate-discount_microsoft
  .certificate-discount__decimal
    position: relative
    display: inline-block
    line-height: 100%
    font-weight: 100
    -webkit-font-smoothing: antialiased
  .certificate-discount__decimal_line-through
    &:after
      content: ''
      position: absolute
      top: 58%
      left: -2%
      width: 104%
      border-bottom: 1px solid