.promo-code
  background-color: #e3ecde
  border-radius: $border-radius-size-medium
  text-transform: uppercase
  text-align: center
  padding: 25px
  font-family: $ff-bold
  font-size: 36px
  line-height: 1
  margin: 15px 0;