.search__input
  padding: 0px 5px 0px 37px
  border-color: white
  line-height: 36px
  font-size: $fs-small

.search__input::-webkit-input-placeholder
  color: white

.search__input::-moz-placeholder
  color: white

.search__input:-moz-placeholder
  color: white

.search__input:-ms-input-placeholder
  color: white

/* fix input[type='search'] */
.search__input
  -webkit-appearance: textfield

.search__input::-webkit-search-decoration
  -webkit-appearance: none;

