.service-discount_myjob
  padding: 0 0 75px 0
  .service-discount__title
    margin-top: 83px
    margin-bottom: 45px
    -webkit-font-smoothing: antialiased
    font-size: 48px
    line-height: 100%
    &_large
      margin-top: 58px
      margin-bottom: 36px
      -webkit-font-smoothing: subpixel-antialiased
      line-height: 110%
      font-size: 72px
  .service-discount__description
    margin-bottom: 75px
    text-transform: capitalize
    -webkit-font-smoothing: subpixel-antialiased
    line-height: 30%
    font-size: 72px
  .service-discount__description_small
    font-size: 60px
