.content__inner
  position: relative
  padding: 26px 15px 35px 15px
  font-size : $fs-base-plus
  &:after,
  &:before
    display :table
    content: ""
    clear: both
  .article__title
    margin-top: 57px
    margin-bottom: 48px
    font-size: 57px
    line-height: 1.3em
    font-weight 100
    -webkit-font-smoothing: antialiased
    a
      border: 0;
      border-bottom: 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.3)
      -webkit-font-smoothing: antialiased
      font-weight: 100;
      &:hover,
      &:focus
        text-decoration none
  .article__subtitle
    font-size: $fs-h3
    margin-top: -10px
    margin-bottom: 43px
    line-height 31px
    font-weight: 300
  .jq-selectbox li
    text-indent: 0
    &:before
      display none
  .tiles
    margin: 0
  .tiles__item
    margin: 0
    text-indent: 0
    &:before
      display: none
  .tiles__link
    display: block
    color: $black
    border: 0
    &:hover
      color: $black

