.caroufredsel
  position: relative
  padding: 50px 0px 37px
  background: $gray
  &_background_none
    background: none
  &:after
    display: block
    clear: both
    content: ''
  &__slider
    display: none
    li
      margin: 0
      text-indent: 0
      &:before
        display: none