.counteragents-aux-indicators__hint
  left: -17px
  bottom: 140%
  width: 300px
  padding: 13px 15px
  font-family: $ff-regular
  font-size: $fs-extra-small
  color: $lightGrayText
  &:after
    content: ''
    display: block
    width: 0
    height: 0
    border-style: solid
    border-width: 7px 6px 0 6px
    border-color: #fff transparent transparent
    position: absolute
    top: 100%