.landing-slider__link
  display: inline-block
  margin-left: 4px
  font-size: 18px
  color: rgba(255,255,255,.5)
  font-family: "robotolight"
  font-weight 100
  -webkit-font-smoothing: antialiased
  text-decoration: none
  transition: color .3s ease-in-out
  &:hover
    color: rgba(255,255,255,.8)