.tiles-certificate__animation
  position: absolute
  left: 275px
  right: 0px
  top: 0
  bottom: 0
  opacity: 0
  overflow: hidden
  transition: opacity ease-in 1s
  z-index: 1
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  padding: 30px 30px 0 0
  text-align: right