.company-page-ask-wrap
  margin-bottom: 10px

.company-page-ask
  display: inline-block
  border-radius($input-border-radius)
  padding: 15px 18px
  border: 1px
  border-style: solid
  border-color: $red-alfa
  color: $red-alfa
  text-decoration: none
  text-align: center
  line-height: 1.4em
  &:hover
    text-decoration: none
    cursor: pointer