.column-popup__title
  position: absolute
  margin-top: 2px
  top: 19px
  right: 20px
  padding-left: 35px;
  font-size: $fs-base
  color: white
  a
    border-bottom: 1px solid white
    border-color: rgba(255,255,255,0.3)
    color: white
    &:hover
      text-decoration: none
      border-color: darken(white, 20%)
      border-color: rgba(255,255,255,0.3)
      color: darken(white, 20%)
      color: rgba(255,255,255,0.8)

