.form-choice__label_type
  &_checkbox
    position: relative
    &:before
      content: ''
      position: absolute
      left: -42px
      height: 17px
      width: 17px
      margin-top: 2px
      background: url(../../img/checkbox_empty.png) no-repeat 0 0
  &_radio
    position: relative
    &:before
      content: ''
      position: absolute
      left: -42px
      height: 17px
      width: 17px
      margin-top: 2px
      background: url(../../img/radio_empty.png) no-repeat 0 0