.content__inner_padding
  &_top-none
    padding-top: 0
  &_0-last
    padding: 0 0 58px 0
    border-bottom-left-radius: $border-radius-size-medium
    border-bottom-right-radius: $border-radius-size-medium
  &_certificate-top
    padding-top: 70px
