.headliner-contacts__item
  display: block
  float: left
  margin-right: 20px
  margin-bottom: 17px
  font-size: $fs-small
  line-height: 21px
  i
    margin-top: -5px
    margin-right: 13px
  span
    display: inline-block
    vertical-align: top