.headliner-title
  position: relative
  margin-top: 15px
  margin-bottom: 24px
  font-size: 57px
  line-height: 1.3em
  font-family: 'robotothin'
  font-weight: 100
  &:after
    display: table
    content: " "
    clear: both