.content
  position: relative
  width: $width-template
  margin: 0 auto
  border-radius: $border-radius-size-medium
  background: white
  color: #414042
  z-index: 1
  &:after,
  &:before
    display :table
    content: ""
    clear: both