.landing-slider__prev
  display: none
  position: absolute
  top: 315px
  left: -70px
  width: 30px
  height: 52px
  background: url(img/prev.png) no-repeat 0 0
  opacity: .5
  cursor: pointer
  transition: opacity .6s ease
  &:hover
    opacity: 1