.table-list__item
  padding-top: 36px
  &:after
    display: block
    content: ""
    width: 1003px
    margin-left: 8.33333333%
    margin-top: 27px
    border: 0
    border-bottom: 1px
    border-style: solid
    border-color: rgba(255, 255, 255, 0.2)