.certificate-discount_with-form
  padding-bottom: 46px
  .form
    margin-top: 25px
    margin-bottom: 29px
    &__hint
      background: $grayLight
      &:after
        border-right-color: $grayLight
    &__error
      width: 100%
  .form-submit
    margin-top: 39px
    margin-right: 0
