.counteragent-info__founders-list-item
  font-size: $fs-small

.counteragent-info__founders-list-item:not(:last-child)
  margin-bottom: 13px

.counteragent-dropdown
  .counteragent-info__founders-list-item:first-child
    margin-top: 13px