.tooltip__text
  position: absolute
  opacity: 0
  z-index: -1
  padding: 12px 5px 12px 15px
  width: 238px
  bottom: 32px
  left: -111.5px
  border-radius: $border-radius-size-medium
  border: 1px solid #b8b8b8
  box-shadow: 2px 4px 10px 0px rgba(0, 1, 1, 0.22)
  background: white
  line-height: 21px
  font-size: $fs-small
  font-family: "robotolight"
  color: #292929
  transition: opacity linear 0.2s