.service-discount_base
  padding: 50px 0 50px 0
  .service-discount__title
    margin-top: 12px
    margin-bottom: 54px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    line-height: 47px
  .service-discount__description
    margin-bottom: 38px
    line-height: 100%
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 36px
  .list
    margin-bottom: 40px