.video-list__link
  color: $black
  border-color: $black
  border-color: alpha($black, 0.3)
  &:hover,
  &:focus,
  &_active
    color: $red-alfa
    border-bottom: 1px solid $red-alfa
    border-color: alpha($red-alfa, 0.3)