.rubricator__header-text_is-link
  &_yes
    border-bottom: 1px solid $black
    border-bottom: 1px solid alpha($black, 0.3)
    cursor: pointer
    &:hover
    &:focus
    &:active
      color: $red-alfa
      border-bottom: 1px solid $red-alfa
      border-color: alpha($red-alfa, 0.3)

  &_no
    border-bottom: none
    cursor: default
    &:hover
    &:focus
    &:active
      border-bottom: none