.nav-pages
  padding:  26px 0px 35px
  font-size: $fs-base-large
  -webkit-font-smoothing: antialiased;
  &:after
    display: block
    clear: both
    content: ''
  &__next,
  &__prev
    text-decoration: none
    span
      @extend .link
      @extend .link_color_red