.counteragents-aux-indicators__indicator-ico_type
  &_cash-flow
    margin-top: -5px
    background: url(../img/cash-flow.png) no-repeat 0 0
  &_financial-stability
    margin-top: 4px
    background: url(../img/financial-stability.png) no-repeat 0 0
  &_profitability
    margin-top: -7px
    background: url(../img/profitability.png) no-repeat 0 0
  &_solvency
    margin-top: -7px
    background: url(../img/solvency.png) no-repeat 0 0
