.message_info
  background: $gray = #CCC
  border-color: $gray
  &_ico
    position: relative
    padding-left: 80px
    background: $gray
    border-color: $gray
    color: $black
    .fa
      position: absolute
      left: 29px
      top: 19px
      font-size: 30px
      color: white