.service-finolog-content
  //central part
  font-size: 16px
  &__cashflow
    margin-top: 55px

  &__gap
    margin-top: 45px

  &__integration
    margin-top: 30px

  &__reports
    font-size: 16px
    &_left-text
      p
        margin-top: 10px
    &_right-text
      padding-top: 164px
    &_cashflow
      margin-top: 40px
      img
        margin-top: 25px

  &__consulting-support
    margin-top: 70px

  //bottom part
  &__equation
    margin-top: 55px
    margin-bottom: 55px

  &__bonus-text
    font-size: 24px
    &_result
      position: absolute
      top: 19px
      left: -5px
      font-size: 38px

  &__bonus-subtext
    font-size: 18px
    margin-top: 10px
    color: $white-opacity-80

  &__positioned-plus
    position: absolute
    right: 34px
    top: 9px
    font-size: 50px

  &__positioned-equal
    position: absolute
    right: 44px
    top: 9px
    font-size: 50px

  &__annotation
    color: $white-opacity-80