.offset-v2_margin-bottom
  &_x1
    margin-bottom: $margin-standart
  &_x2
    $x2 = ceil(2*$margin-standart)
    margin-bottom: $x2
  &_x3
    $x3 = ceil(3*$margin-standart)
    margin-bottom: $x3
  &_x4
    $x4 = ceil(4*$margin-standart)
    margin-bottom: $x4
  &_x5
    $x5 = ceil(5*$margin-standart)
    margin-bottom: $x5