.tiles-certificate__link
  display: block

  margin-right: 7px
  margin-bottom: 7px
  padding: 15px 0px 0px 27px
  background-color: #fff
  box-shadow(0px 4px 4px rgba(0, 0, 0, 0.3))
  height: auto
  border-radius: 5px

  position: relative
  cursor: pointer;
  overflow: hidden
  text-decoration none
  opacity(1)
  color: $black
  -webkit-transition: opacity ease-in-out 0.5s, height ease-in-out 1s
  -o-transition: opacity ease-in-out 0.5s, height ease-in-out 1s
  -moz-transition: opacity ease-in-out 0.5s, height ease-in-out 1s
  transition: opacity ease-in-out 0.5s, height ease-in-out 1s
