.top-navigation
  display: block
  height: $header-height
  min-width: 100%
  font-size: $fs-base
  top: 0
  webkit-transition: background-color ease-in-out 0.6s
  -o-transition: background-color ease-in-out 0.6s
  transition: background-color ease-in-out 0.6s
  ul
    margin: 0px
    li
      margin-bottom: 0
      line-height: 1.4
      font-size: 16px
      &:before
        display:none

.top-navigation-additions
  display: inline-block
  float: right

.top-navigation_type_scrolled
  background: #000000
  background: rgba(0, 0, 0, 0.8)