.service-discount_kontyr
  padding: 79px 0 96px 0
  .service-discount__title
    margin-top: -23px
    margin-bottom: 26px
    -webkit-font-smoothing: subpixel-antialiased
    line-height: 110%
    font-size: 120px
  .service-discount__description
    margin-bottom: 53px
    text-transform: uppercase
    font-family: $ff-medium
    font-weight: 500
    font-size: 72px
  .service-discount__description
    &_small
      margin: 0
      text-transform: none
      line-height: 22px
      font-family: $ff-light
      font-size: $fs-base-plus
      -webkit-font-smoothing: antialiased
  .img
    margin-left: -41px