.headliner
  position: relative
  margin: 0 auto
  width: $width-template
  -webkit-font-smoothing: antialiased
  color: white
  .link
    //@extend .link_color_white;

.headliner__view-scroll
  margin-top: -($header-height)
  min-height: 100%
  height: auto !important
  height: 100%
  min-width: $width-template