.counteragent-dropdown__inner
  display: none
  overflow: hidden

  .mCSB_scrollTools
    opacity: 1 !important

  .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
  .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
    background-color: $lightGrayText

  .mCSB_dragger
    .mCSB_dragger_bar
      line-height: 30px
      width: 5px
      background-color: $lightGrayText !important

  .mCSB_draggerRail
    width: 5px
    border: 1px solid rgba(#808080, .3)
    background: transparent none repeat scroll 0% 0%