.blockquote_type_alert-waring
  padding: 52px 0px 57px
  background: $red
  color: white
  -webkit-font-smoothing: antialiased
  &:after
    display: block
    clear: both
    content: ''
  &:before
    display: none
    width: 80px