.blockquote_type_quote
  padding: 34px 0px
  background: #8795a3
  color: white
  -webkit-font-smoothing: antialiased
  &:after
    display: block
    clear: both
    content: ''
  &:before
    position: absolute
    display: block
    width: 80px
    left: 10.4%
    left: calc(16.66666667% - 76px)
    top: 4px
    background none
    content: "”"
    font-family: TimesNewRoman
    font-weight: bold
    font-size: 109px
    color: white