.tiles__link
  display: block
  margin-right: 7px
  margin-bottom: 7px
  padding: 15px 0px 0px 27px
  background-color: #fff
  //background-color: #000
  box-shadow(0px 4px 4px rgba(0, 0, 0, 0.3))
  height: 130px
  border-radius: 5px
  //border-top-right-radius: 6px /* changed from 5px in order to avoid white contour */
  //border-bottom-right-radius: 6px /* changed from 5px in order to avoid white contour */
  //position: relative /* removed on 10.02.2016 to avoid white contour along corners of image */
  cursor: pointer
  overflow: hidden
  text-decoration none
  opacity(1)
  color: $black
  -webkit-transition: opacity ease-in-out 0.5s, height ease-in-out 1s
  -o-transition: opacity ease-in-out 0.5s, height ease-in-out 1s
  -moz-transition: opacity ease-in-out 0.5s, height ease-in-out 1s
  transition: opacity ease-in-out 0.5s, height ease-in-out 1s
