.tiles-certificate__text_size
  &_xl
    top: 92px
    width: 390px
    .tiles-certificate__title
      width: auto
      margin-bottom: 10px
    .tiles-certificate__subtitle
      width: auto
  &_l
    top: 92px
    width: 340px
    .tiles-certificate__title
      font-size: $fs-base-large
      margin-bottom: 10px
    .tiles-certificate__subtitle
      font-size: $fs-base
  &_m
    top: 86px
    width:auto
    .tiles-certificate__title
      font-size: $fs-medium-minus
    .tiles-certificate__subtitle
      font-size: $fs-base
  &_s
    top: 86px
    width:auto
    .tiles-certificate__title
      font-size: $fs-medium-minus
    .tiles-certificate__subtitle
      font-size: $fs-base