.products_inner
  margin: 21px 0 53px 0
  .products
    &__item
      margin: 0 -15px
      padding: 27px 0
      border: none
    &__link
      border: none
      .img
        border: none
        outline: none
    &__title
      margin: 0 0 19px 0
      font-size: 22px
      line-height: 26px
    &__content
      color: alpha(white, 0.8)
