.search__submit
  position: absolute
  outline: none
  padding-left: 10px
  padding-right: 10px
  top: 0
  left: 0
  background: none
  border: 0
  font-size: $fs-base-large
  height: 36px
  line-height: 100%
  color: #b3b3b3
  cursor: pointer