.footer-menu__item
  display: inline-block
  margin: 0
  padding: 0
  line-height: 1.4
  margin-right: 28px
  a
    display: inline-block
    text-decoration: none
    border-bottom-width: 1px
    border-bottom-style: solid
    border-color: white
    border-color: rgba(255, 255, 255, 0.3)
    font-size: inherit
    color: white
    &:hover,
    &:focus
      text-decoration: none
      color: darken(white, 20%)
      color: rgba(255, 255, 255, 0.8)