.products__link_pic_play
  position: relative
  display: inline-block
  img
    border-radius: 5px
  &:before
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0

    content: ''
    display: block;

    background: url(../img/play.png) no-repeat center center;
