.abstract-section-list__item_event
  padding-top: 0px
  padding-bottom: 17px
  .abstract-section-list
    &__img
      margin-bottom: 10px
  &:after
    display: block
    content: ""
    clear: both
