.screen_events
  min-height: 700px
  padding-top: 170px
  .caroufredsel_wrapper
    left: 0 !important
    width: 994px !important
  .landing-slider__prev
  .landing-slider__next
    top: 120px
  .article-preview
    margin-top: 0