.service-discount_eduson-old
  padding: 65px 0 65px 0
  .service-discount__title
    margin-top: 12px
    margin-bottom: 72px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    line-height: 47px
  .service-discount__description
    margin-bottom: 28px
    line-height: 100%
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 36px
    &_small
      margin-bottom: 37px
      font-size: $fs-base-plus
    &_last
      margin: 0
  .list
    margin-bottom: 37px