.tabs_pic
  .tabs__item

    .tabs__btn
      display: inline-block
      padding: 5px 17px
      border: 1px
      border-style: solid
      border-color: #cccccc
      border-left: 0px
      background: transparent
      text-decoration: none
      line-height: 1.55em
      outline: none
      color: #414042

    .tabs__btn_selected,
    .tabs__btn_hover
    .tabs__btn:hover
      background: #cccccc
      transition: background .5s ease

    .tabs__btn_hover_none
      background: transparent !important
      transition: background .5s ease