.form__hint
  display: block
  position: relative
  width: 238px
  padding: 7px
  padding-left: 11px
  padding-top: 9px
  margin-bottom: 5px
  border-radius: 5px
  background: #e6e9eb
  font-family: inherit
  font-weight: 300
  font-size: inherit
  line-height: 18px
  color: inherit
  &:after
    display: block;
    position: absolute;
    content: '';
    top: 12px;
    left: -11px;
    border: 6px solid transparent;
    border-right: 6px solid #e6e9eb;