.icon {
  background-image: url('pages/merged/sprite.png');
}

.icon-b1rxTmxIAntmSCuWm6qqoRZMaJs {
  background-position: -4px -4px;
  width: 5px;
  height: 10px;
}

.icon-s6TuZFuklPUoQO-EEgFboPRl2-A {
  background-position: -4px -22px;
  width: 10px;
  height: 10px;
}

.icon-fPBH11YAogHqlQqf76XSz8EzAuU {
  background-position: -4px -40px;
  width: 18px;
  height: 10px;
}

.icon-FncpOr6sgk_H3VFRSA-6PjtnGik {
  background-position: -4px -58px;
  width: 18px;
  height: 11px;
}

.icon-OlplcxfTjjVESmrkWkUFrh9a3UA {
  background-position: -4px -77px;
  width: 23px;
  height: 11px;
}

.icon-PxUBezCyeB3IaM1XVBNYDy9WoZc {
  background-position: -4px -96px;
  width: 23px;
  height: 16px;
}

.icon-wdTur1fGDAGHmwn7rYL31jtpPFY {
  background-position: -4px -120px;
  width: 20px;
  height: 21px;
}

.icon-RcSVwmlXtTc4uzxsQwMHbXxqCjc {
  background-position: -4px -149px;
  width: 24px;
  height: 23px;
}

.icon-wf18wieK2sJ_vIdJFd1yApyS1eY {
  background-position: -4px -180px;
  width: 24px;
  height: 23px;
}

.icon-K0laXYsyi_mTlgBv1OlUjtXzAXo {
  background-position: -4px -211px;
  width: 23px;
  height: 23px;
}

.icon-ERdIB3_QwzWKhMli9CZi7gyAs2Q {
  background-position: -4px -242px;
  width: 24px;
  height: 24px;
}

.icon-lNZzXeIRniI3xHntnwknWFM8MSo {
  background-position: -4px -274px;
  width: 30px;
  height: 27px;
}

.icon-KPksSgXfiCY8Q19dd5PWFU-KY5o {
  background-position: -4px -309px;
  width: 28px;
  height: 28px;
}

.icon-qF_71UKXqybF2aDvH2bABXHzrgk {
  background-position: -4px -345px;
  width: 30px;
  height: 30px;
}

.icon-SVEjAsIocBzkGVrAgy2QlLws2ig {
  background-position: -4px -383px;
  width: 30px;
  height: 30px;
}

.icon-j_3Lj-lTG-5qWD0BolAWAq5skRU {
  background-position: -4px -421px;
  width: 30px;
  height: 30px;
}

.icon-hSMnqB5rZqdXlOUpDEJfOkvu4Rk {
  background-position: -4px -459px;
  width: 16px;
  height: 31px;
}

.icon-PWV6cUuRaGB6Hwp1W7ALUq9mwqE {
  background-position: -4px -498px;
  width: 21px;
  height: 31px;
}

.icon-B8kxXrL5YhvQ4wuaycMQDyrl8JE {
  background-position: -4px -537px;
  width: 16px;
  height: 31px;
}

.icon-mQu5EbhxIoXylMoxUP1AKwKRXlM {
  background-position: -4px -576px;
  width: 24px;
  height: 34px;
}

.icon-yXMUSipE1aTiL68IbdF2qDL2W_Y {
  background-position: -4px -618px;
  width: 55px;
  height: 38px;
}

.icon-tYA8bQcg_7Jz3vUvhcRjnVaW-GI {
  background-position: -4px -664px;
  width: 49px;
  height: 39px;
}

.icon\-4hyg_cR1I9DnCqdBoPxkNiIK7SY {
  background-position: -4px -711px;
  width: 41px;
  height: 41px;
}

.icon\-5qM7Pk8JM7W_n0ZTHJiDRabEyqE {
  background-position: -4px -760px;
  width: 64px;
  height: 41px;
}

.icon-TAR7xI7LqWleHPXd498ZxOVQMOo {
  background-position: -4px -809px;
  width: 41px;
  height: 41px;
}

.icon-G9lkdy2WqHmbzIwNgHS6hFkLnKE {
  background-position: -4px -858px;
  width: 43px;
  height: 42px;
}

.icon-E42eS7Q1IprVshOybzbaFED4X0U {
  background-position: -4px -908px;
  width: 38px;
  height: 42px;
}

.icon\-1_WO6klSaaf1itQy3n-Gi5AaA50 {
  background-position: -4px -958px;
  width: 48px;
  height: 43px;
}

.icon-lOI75bC9naeEnMzkF6qV1A1854Q {
  background-position: -4px -1009px;
  width: 44px;
  height: 44px;
}

.icon-YLamW6Z80txS10hRJntpoFhcU5A {
  background-position: -4px -1061px;
  width: 45px;
  height: 45px;
}

.icon\-27ycSEupOPteZsiatCKcrSbZoLQ {
  background-position: -4px -1114px;
  width: 43px;
  height: 45px;
}

.icon-uf5PZRv-Kwf_BbcALbyJRDuM7iw {
  background-position: -4px -1167px;
  width: 45px;
  height: 45px;
}

.icon-hCT8uDZccfnt2U-B4rQ-6Ln4tCE {
  background-position: -4px -1220px;
  width: 45px;
  height: 45px;
}

.icon-FA74yX8qTnAO-3pIZTiefOG8JMg {
  background-position: -4px -1273px;
  width: 146px;
  height: 45px;
}

.icon-pcSLSqO77FUOItcx5_aEf7YVcO0 {
  background-position: -4px -1326px;
  width: 35px;
  height: 46px;
}

.icon-y41Q4fBegPyQ0W-NixZtDuqsIfg {
  background-position: -4px -1380px;
  width: 45px;
  height: 47px;
}

.icon-Mwo7bH4dQz7DgLRTCeQmfuULAMQ {
  background-position: -4px -1435px;
  width: 47px;
  height: 47px;
}

.icon\-9EB6hyvwj10kpI71LZzOF7sCRrU {
  background-position: -4px -1490px;
  width: 47px;
  height: 47px;
}

.icon-Yyj1bRhQldlDsMlSdk8eztBko54 {
  background-position: -4px -1545px;
  width: 42px;
  height: 55px;
}

.icon-GDvMk73WtGSRl-xZgfHDX96dnPI {
  background-position: -4px -1608px;
  width: 42px;
  height: 55px;
}

.icon-eEmmajXe-zIHfcxUMpU6g0HpocA {
  background-position: -4px -1671px;
  width: 42px;
  height: 55px;
}

.icon-Qxf9gpbXYEybwGLewSAOT-OFCQ {
  background-position: -4px -1734px;
  width: 42px;
  height: 55px;
}

.icon-K5FmjxOA0_7pG7QZcJzzdWGeaIg {
  background-position: -4px -1797px;
  width: 57px;
  height: 55px;
}

.icon-KVGTWcKD0WBbQHa0WXBO--hMG8g {
  background-position: -4px -1860px;
  width: 39px;
  height: 56px;
}

.icon-FlvrsMsFOAQxNqB53W3g94jU-sQ {
  background-position: -4px -1924px;
  width: 44px;
  height: 57px;
}

.icon-F98Z-XYo53vgnDUr8nQl-uokglE {
  background-position: -4px -1989px;
  width: 44px;
  height: 152px;
}

.icon-MMWJE_Mn4o9GagD0wayAAbVgrtg {
  background-position: -4px -2149px;
  width: 88px;
  height: 304px;
}

.icon-YC2IeYDI1GzDz5Mp0bEXye2HOl8 {
  background-position: -4px -2461px;
  width: 1064px;
  height: 464px;
}

