.cities-choice__column
  display: inline-block
  vertical-align: top
  letter-spacing: normal
  word-spacing: normal
  position: relative
  width: 180px
  padding-right: 30px
  font-size: ceil($fs-small*1.07)
  text-indent: 0

  &_city-first
    padding-top: 34px