.service-discount_invitation
  padding: 0
  padding-bottom: 56px
  .service-discount__title
    margin: 50px 0
    line-height: 44px
    font-size: $fs-h2
    -webkit-font-smoothing: subpixel-antialiased
  .service-discount__description
    margin: 46px 0
    font-size: $fs-base
    line-height: 20px

