.screen_summaries
  padding-top: 50px
  padding-bottom: 100px
  .title_main-page_screen
    margin-bottom: 90px
  .title_main-page_screen-subcontent
    margin-bottom: 30px
  .img
    margin-bottom: 20px
  .text_main-page
    margin-bottom: 20px
  .btn
    margin-bottom: 20px