.category-rubricator__link_selected
  text-decoration: none !important
  color: $white-opacity-80 !important
  border: none !important
  &:hover
  &:active
  &:focus
    text-decoration: none !important
    color: $white-opacity-80 !important
    border: none !important