.screen_articles
  min-height: 800px
  padding-top: 50px
  .title_main-page_screen
    margin-bottom: 80px
  .title_main-page_slide-resource
    margin-bottom: 15px
  .link
    font-size: 60px
    line-height: 72px
  .author-sign
    margin-top: 45px
  .author-sign__name
    margin-bottom: 6px
    color: white
    font-size: 18px
  .author-sign__position
    color: white
    font-size: 16px
  img
    margin-top: 70px
  .caroufredsel_wrapper
    left: 0 !important
    width: 994px !important