.img_brd-rad
  &_base
    border-radius: $border-radius-base
  &_medium
    border-radius: $border-radius-size-medium
  &_large
    border-radius: ceil(1.2 * $border-radius-base)
  &_extra-large
    border-radius: ceil(2 * $border-radius-base)