.service-discount_smartReading
  padding: 0
  padding-bottom: 59px
  .service-discount__title
    margin-top: 56px
    margin-bottom: 55px
    line-height: 37px
    -webkit-font-smoothing: antialiased
    font-size: 38px
    font-family: $ff-thin
  .service-discount__description
    margin-bottom: 25px
    line-height: 100%
    font-size: $fs-medium
  .service-discount__description
    &_small
      margin-bottom: 36px
      line-height: 22px
      font-size: $fs-base-plus
      -webkit-font-smoothing: antialiased
  .list__item
    margin-bottom: 17px
