.service-discount_nethouse
  padding: 0
  padding-bottom: 96px
  .service-discount__title
    margin-top: 58px
    margin-bottom: 75px
    line-height: 37px
    font-size: 48px
    -webkit-font-smoothing: antialiased
    &_large
      margin-top: 58px
      margin-bottom: 44px
      font-size: 48px
      line-height: 36px
  .service-discount__description
    margin-bottom: 92px
    margin-left: -3px
    font-size: 100px
    line-height: 38px
    -webkit-font-smoothing: subpixel-antialiased
  .service-discount__list
    line-height: 30px
    font-size: $fs-base
    -webkit-font-smoothing: antialiased
  .service-discount__img
    position: absolute
    right: 73px
    top: 135px
