.content__title_size_l
  margin-top: 0
  margin-bottom: 48px
  font-size: ceil($fs-base*3.563)
  line-height: 74px

.content__inner
  .content__title_size_l
    margin-top: 0
    margin-bottom: 48px
    font-size: ceil($fs-base*3.563)
    line-height: 74px