.content__title_size_extra-large
  margin-top: 35px
  margin-bottom: 53px
  font-size: ceil($fs-base*5.625)
  line-height: 100%

.content__inner
  .content__title_size_extra-large
    margin-top: 35px
    margin-bottom: 53px
    font-size: ceil($fs-base*5.625)
    line-height: 100%
