.SNS-vidget__tabs-item
  .tabs__btn
    padding-left : 11px
    padding-right: 11px
    &:before
      content: ''
      display: inline-block
      width: 27px
      height: 27px
      margin-right: 8px
      vertical-align: middle

.SNS-vidget__tabs-item_social_fb
  .tabs__btn
    &:before
      content: ''
      background: url('img/fb.png') no-repeat 0 0
.SNS-vidget__tabs-item_social_tw
  .tabs__btn
    &:before
      content: ''
      background: url('img/tw.png') no-repeat 0 0
.SNS-vidget__tabs-item_social_vk
  .tabs__btn
    &:before
      content: ''
      background: url('img/vk.png') no-repeat 0 0