.badge__content
  display: block
  float: left
  line-height: 20px
  font-size: $fs-base-large
  b
    line-height: 36px
    font-family: "robotoregular"
    font-weight: 400
    font-size: $fs-medium
  span
    line-height: 36px
