.list_type-style_img
  margin: $margin-medium-plus 0
  .list
    &__item
      margin-bottom: $margin-base
      line-height: $margin-base
      &:after
        @extend .clear
    &__title
      margin: 0 0 $margin-base 0
      line-height: $margin-base - 4
      font-size: $fs-medium
    &__content
      font-size: $fs-base-large