.counteragents-aux-indicators__hint-acceptor
  display: inline-block
  vertical-align: top
  margin-right: 5px
  border-bottom: 1px dashed rgba($lightGrayText, .8)
  font-family: $ff-bold
  font-size: $fs-small
  color: $lightGrayText
  cursor: help