.certificate-discount__title
  margin-top: 56px
  margin-bottom: 55px
  line-height: 37px
  -webkit-font-smoothing: antialiased
  font-size: 46px
  font-family: $ff-light
  &_thin
    font-family: $ff-thin
    line-height: 1
  &_margin_35-0-55
    margin: 35px 0 55px