.btn_color_green
  $c = rgb(68,183,89)
  border-color: $c
  border-color: alpha($c, 0.8)
  color: white !important
  background: $c
  background: alpha($c, 0.8)
  transition: background .5s ease
  &:hover,
  &:active,
  &:focus
    border-color: lighten($c, 10%)
    background: alpha($c, 0.9)
    transition: background .5s ease
    color: white
    color: alpha(white, 0.9)
    background: lighten($c, 10%)
    background: alpha($c, 0.9)
    cursor: pointer
