.events-list__link
  position: relative
  display: block
  width: 250px
  padding: 3px
  background: white
  border-radius: $border-radius-size-medium
  font-size: $fs-base
  color: $black
  text-decoration: none
  &-wrap
    padding: 0 17px
  &:after
    position: absolute
    display: block
    top: 20px
    right: -19px
    content: ''
    border: 9px solid transparent
    border-left: 11px solid white

.events-list__month
    position: absolute
    left: 301px
    top: -19px
    font-family: 'robotothin'
    font-size: $fs-base