.column-popup-nav__link
  text-decoration: none
  border-bottom: 1px solid white
  border-color: $white-opacity-30
  font-weight: 600
  font-size: $fs-base
  color: white
  &:hover
    text-decoration: none
    border-color: $red-alfa
    border-color: rgba(239, 49, 36, 0.3)
    color: $red-alfa
