.tiles-certificate__item_width_full
  width: 80%
  .tiles-certificate__animation
    opacity: 1
    left: 450px
    background-position: right top
  &:hover
    width: 80%
  //.tiles-certificate__subtitle
