.rubricator__link
  margin-right: 5px
  line-height: 1.3em

.rubricator__link#all
  display: inline-block
  margin-top 26px
  //margin-left: 35%
  //border: none
  //font-family: $ff-lightitalic
  &:before
    content: ''
    position: absolute
    top: 20px
    left: 0
    display: block
    width: 100%
    border-top: 1px solid rgba(65,64,66,0.3)