.service-discount_hh
  padding: 15px 0 77px 0
  .service-discount__title
    margin-top: 47px
    margin-bottom: 80px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 90px
    line-height: 47px
  .service-discount__description
    margin-bottom: 38px
    line-height: 46px
    -webkit-font-smoothing: subpixel-antialiased
    font-size: 36px