//Ie support
$support-for-ie = true

//== Template size
//
//## Sizes of template
$width-template = 1230px

//== Header
//
//## Basics of a header
$header-height  = 86px

//== Footer
//
//## Basics of a footer
$footer-height = 94px


//== Typography
//
//## Font, line-height, and _color for body text, headings, and more.
$fs-base              = 16px
$fs-extra-small       = ceil(0.75*$fs-base) //~12px
$fs-small             = ceil(0.87*$fs-base) //~14px
$fs-small-plus        = ceil(0.93*$fs-base) //~15px
$fs-base-plus         = ceil(1.06*$fs-base) //~17px
$fs-base-large        = ceil(1.12*$fs-base) //~18px
$fs-base-large-plus   = ceil(1.18*$fs-base) //~19px
$fs-medium-minus      = ceil(1.25*$fs-base) //~20px
$fs-medium-half-minus = ceil(1.37*$fs-base) //~22px
$fs-medium            = ceil(1.5*$fs-base)  //~24px
// standart title font-sizes
$fs-h0                = ceil(3.19*$fs-base) //~51px
$fs-h1                = ceil(3*$fs-base)    //~48px
$fs-h2                = ceil(2.5*$fs-base)  //~40px
$fs-h3                = ceil(1.87*$fs-base) //~30px
$fs-h4                = $fs-base-large      //~18px
// new standart title font-sizes
$fs-h1_new            = ceil(5.625*$fs-base) //~90px xxl
$fs-h2_new            = ceil(3.188*$fs-base) //~51px xl
$fs-h3_new            = ceil(2.5  *$fs-base) //~40px l
$fs-h4_new            = ceil(2.18*$fs-base) //~35px m
$fs-h5_new            = ceil(1.875*$fs-base) //~30px s
$fs-h6_new            = ceil(1.5  *$fs-base) //~24px xs

$ff-thin        = 'robotothin'
$ff-light       = 'robotolight'
$ff-bold        = 'robotobold'
$ff-medium      = 'robotomedium'
$ff-regular     = 'robotoregular'
$ff-lightitalic = 'robotolight_italic'
//== Colors
//
//## Gray and brand colors for use across Alfabank.
$red-alfa             = #EF3124
$red-alfa-opacity-80  = rgba(239, 49, 36, 0.8)
$red-alfa-opacity-30  = rgba(239, 49, 36, 0.3)    // karalkou's addition
$red                  = #8a2c34
$red-alfa_add         = #c53028                   // karalkou's addition
$white-opacity-90     = rgba(255, 255, 255, 0.9)  // karalkou's addition
$white-opacity-80     = rgba(255, 255, 255, 0.8)
$white-opacity-60     = rgba(255, 255, 255, 0.6)
$white-opacity-50     = rgba(255, 255, 255, 0.5)
$white-opacity-30     = rgba(255, 255, 255, 0.3)
$black-opacity-80     = rgba(65, 64, 66, 0.8)
$black                = #414042
$black-head           = #383838
$black_add            = #2a343d                   // karalkou's addition
$black_add-opacity-90 = rgba(42, 52, 61, .9)      // karalkou's addition
$green                = #44b759
$orange               = #ffae00                   // karalkou's addition

$gray                 = #e8e8e8
$grayLight            = #dadada
$grayDark             = #292929
$grayText             = #636263                   // karalkou's addition
$lightGrayText        = #a3a3a3                   // karalkou's addition
$grayDisabledBg       = #e6e9eb
$grayDisabledBg_RGB   = rgb(230, 233, 235)

$darkblue             = #1d2934                   // karalkou's addition
$darkblue-opacity-90  = rgba(29, 41, 52, .9)      // karalkou's addition

//=Borders
//
//##
$border-radius-base        = 4px
$input-border-radius       = $border-radius-base
$border-radius-size-medium = 5px // =5px
//== Grid system
//
//## Define your custom responsive grid.
$offset-base = 15px

//=Box-model
//
//## Paddings
$padding-medium     = ceil(2.25*$fs-base)     //=36px
//## Margins
$margin-small       = ceil(0.7*$fs-base)      //=12px
$margin-base-min    = ceil(1.5*$fs-base)      //=19px
$margin-base        = ceil(1.5*$fs-base)      //=24px
$margin-medium      = ceil(1.25*$margin-base) //=30px
$margin-medium-plus = ceil(1.45*$margin-base) //=35px
// new standart margins
$margin-standart   = ceil(0.625*$fs-base)     //=10px