.figure_subscription_person
  .figure__figcaption
    margin-top: 31px
    line-height: 17px
    font-family: "robotolight_italic"
    font-style: italic
    font-weight: 300
    font-size: $fs-small
    color: $white-opacity-80