.btn
  display: inline-block
  border-radius($input-border-radius)
  padding: 6px 30px
  border: 1px
  border-style: solid
  text-decoration: none
  text-align: center
  line-height: 1.4em
  &:hover
    text-decoration: none
    cursor: pointer