.headliner__rate-line
  margin: 0
  margin-top: 10px
  margin-bottom: 35px
  .span
    margin-right: 15px
    margin-left: 10px
    font-size: $fs-small
    color: $white-opacity-50
  .link
    margin-right: 15px