.abstract-section-list__subtitle
  margin-bottom: 23px
  font-size: ceil($fs-base*1.5)
  font-family: "robotolight"
  font-style: normal
  font-weight: 300
  -webkit-font-smoothing: antialiased
  .link
    @extend .link_color_red