.headliner-contacts__item_link
  border: 0
  outline: none
  font-size: $fs-small
  text-decoration: none
  color: white
  span
    border-bottom: 1px solid
    border-color: white !important
    border-color:  alpha(white, 0.3) !important
    b
      font-family: $ff-bold
  &:hover,
  &:visited,
  &:focus
    outline: none
    text-decoration: none
    cursor: pointer
    span
      color: $white-opacity-80
      border-color: darken(white, 20%)
      border-color: alpha(white, 0.3)