.headliner__text_main-page
  margin-bottom: $margin-small
  line-height: 24px
  font-family: $ff-light
  font-size: $fs-medium-minus
  font-style: normal
  font-weight: 300
  &:last-child
    margin-bottom: 0