.form-cancel-wrapper
  display: inline-block
  padding: 9px 27px
  font-size: $fs-small
  font-weight: 300
  text-decoration: none
  color: $red-alfa

  .form-cancel
    display: inline
    text-decoration: none
    color: $red-alfa
    border-bottom: 1px solid $red-alfa
    border-color: rgba(239, 49, 36, 0.8)
    &:hover,
    &:focus
      text-decoration: none
      color: lighten($red-alfa, 20%)
      color: rgba(239, 49, 36, 0.8)
      cursor: pointer
