.rubricator-pop
  display: none
  position: absolute
  z-index: 1
  left: -308px
  top: 40px
  background: white
  color: black
  border: 1px solid $gray
  border-radius: 5px
  overflow: hidden
  text-align: left
  cursor: default

  box-shadow(0 5px 8px -2px rgba(0,0,0,0.21))

.rubricator-pop_visible
  display: block