.service-discount_yandex
  padding: 0 0 89px 0
  .service-discount__title
    padding-left: 4px
    margin-top: 59px
    margin-bottom: 33px
    line-height: 100%
    -webkit-font-smoothing: antialiased
    font-size: 120px
  .service-discount__description
    margin-bottom: 33px
    -webkit-font-smoothing: antialiased
    font-size: 45px
    line-height: 48px
    &_small
      margin-bottom: 38px
      -webkit-font-smoothing: subpixel-antialiased
      font-size: $fs-base-large
      line-height: 22px