.company-contacts__link
  display: block
  float: left
  line-height: 21px
  font-size: $fs-small
  color: white
  color: white-opacity-80
  border-bottom: 1px solid white
  border-color: white-opacity-80;
  &:hover
    color: darken(white, 20%)
    color: $white-opacity-50
    border-color: darken(white,20%)
    border-color: $white-opacity-50
