.company-page-owner__pre-quote
    position: absolute
    background: none
    font-family: 'TimesNewRoman'
    font-weight: bold
    font-size: 66px
    vertical-align: top
    height: 16px
    top: 10px
    left: -38px
    color: #d9d9d9