.nav-pages__prev
  &:before
    display: block
    float: left
    margin-right: 20px
    margin-top: 6px
    width: 16px
    height: 32px
    content: ""
    background: url(img/prev.png) no-repeat
  span
    text-align: left
  .nav-pages__wrap
    text-align: left