.certificate-discount__description
  line-height: 23px
  font-size: $fs-base

  &_small
    margin-bottom: 8px
    line-height: 22px
    font-size: $fs-base
    -webkit-font-smoothing: antialiased

  &_large
    margin-bottom: 8px
    line-height: 40px
    font-family: $ff-thin
    font-size: 34px
    -webkit-font-smoothing: antialiased