.events-list__date
  position: absolute
  width: 30px
  height: 30px
  line-height: 28px
  text-align: center
  right: -50px
  top: 14px
  color: white
  font-family: 'robotobold'
  font-size: $fs-base-large
  border: 1px solid alpha(white, 0.5)
  border-radius: $border-radius-size-medium
  background: #155E75
  z-index: 1
