.link_border-style_dotted
  border: 0
  border-bottom: 1px
  border-style: dotted
  border-color: #fff
  border-color: rgba(255,255,255,0.3)
  &:hover
    color: white
    color: rgba(255,255,255,0.8)
