.offset_margin-bottom_reset
  margin-bottom: 0
.offset_margin-bottom_30
  margin-bottom: 30px
.offset_margin-bottom_15
  margin-bottom: 15px
.offset_margin-bottom_10
  margin-bottom:10px

.offset_margin-bottom_s-double
  margin-bottom: $margin-base*2//~48
.offset_margin-bottom_s
  margin-bottom: $margin-base
.offset_margin-bottom_m
  margin-bottom: ceil($margin-base*1.66)//~40
.offset_margin-bottom_s-half
  margin-bottom: ceil($margin-base/2) !important//~12
.offset_margin-bottom_b-plus
  margin-bottom: ceil($margin-base*1.41)//~34

.offset_margin-bottom_content-reset
  margin-bottom: -($margin-medium-plus)
  border-bottom-left-radius: $border-radius-size-medium
  border-bottom-right-radius: $border-radius-size-medium
  .ymaps-map
    border-bottom-left-radius: $border-radius-size-medium
    border-bottom-right-radius: $border-radius-size-medium