.form-input__success
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 15px;
  font-size: 12px;
  color: #00cf79;

.valid
  .form-input__success
    display: block

.valid
  .error + .form-input__success
    display: none