.content-opaque
  position: relative
  width: $width-template
  margin: 0 auto
  border-radius: 5px
  background: none
  color: white
  z-index: 1
  &:after,
  &:before
    display :table
    content: ""
    clear: both
