.sign
  padding: 42px 0 40px
  background: $gray
  color: $black-head
  &__title
    -webkit-font-smoothing: antialiased
    font-size: ceil(2.25 * $fs-base)
    margin-bottom: $margin-base
  &__option
    font-size: $fs-base
    margin-bottom: 5px
    line-height: $margin-base
    &_margin_s
      margin-top: 21px
  &:after
    display: block
    clear: both
    content: ''
  &__col-1
    position: relative
    min-height: 1px
    float: left
    width: 19.4%
    padding-left: 15px
    padding-right: 15px
  .content__section-title
     margin-top: 0
