.subscribe-wrapper_main-page

  .subscribe-wrapper__form
    .content__title
      margin-top: 0
      margin-bottom: 34px
      line-height: 24px
      font-size: 20px
      color: $white-opacity-80
    .form-input
      margin-bottom: 20px
      color: white
      border-color: $white-opacity-80
      border-radius: 3px

  .subscribe-wrapper__message
    color: $white-opacity-80
    margin: 0
