.article__title
  margin-top: 57px
  margin-bottom: 48px
  font-size: 57px
  line-height: 1.3em
  font-family: "robotothin"
  font-weight 100
  -webkit-font-smoothing: antialiased
  color: white
  a
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    color: white
    a
      color: white
      border-color: white
      border-color: rgba(255, 255, 255, 0.3)
      &:hover,
      &:focus
        color:  darken(white, 20%)
        border-color: darken(white, 20%)
        color: rgba(255, 255, 255, 0.8);
        border-color: rgba(255, 255, 255, 0.3)