.content-v2_type_white-opaque
  background: transparent\9
  background: rgba(255, 255, 255, 0.15)
  filter: unique("progid:DXImageTransform.Microsoft.gradient(startColorstr=#26ffffff,endColorstr=#26ffffff)")
  zoom: 1
  color: white
  .jq-selectbox__select,
  .form__hint
    background: none
    color: white
  .form__hint:after
    display: none
  .jq-selectbox .placeholder,
  .form__label_type_required:after,
  .captcha__label_type_required:after,
  .form-input.valid,
  .form-input.error
    color: white
  .jq-selectbox__trigger-arrow
    border-top: 5px solid #FFFFFF
  .content-v2__manager
    a
      color: white
      border-bottom: 1px solid white
      border-color: $white-opacity-80
      &:hover,
      &:focus
        text-decoration: none
        color: darken(white, 20%)
        color: $white-opacity-80
    ul,
    ol
      li
        &:before
          color: white