.main-pop
  position: absolute
  width: 1170px;
  margin: 0px 0px 0px -570px;

  padding-bottom: 72px

  .main-pop-inner
    color: $black
    &__title
      margin-top: 5px
      font-weight: normal
    &__subtitle
      font-weight: normal
      margin-bottom: 65px
    &__submit
      margin-top: 37px
      text-align: center

    .list
      &__item
        margin-bottom: 20px
        line-height: 24px
        font-size: 17px

  .popup__close
    display: none