.steps-list__item
  padding-left: 0
  &.col-md-6
    .steps-list__text
      display: block
      float: left
      max-width: 297px

.steps-list__text
  display: block
  float: left
  max-width: 186px
