.input_background_red
  border-color: #c86d6a
  background: #c86d6a
  background: rgba(0, 0, 0, 0)
  color: white
  &:focus
    background-color: #7f2c34
    outline: none
    border-color: #990000
    border-color: rgba(0, 0, 0, 0)
    -webkit-box-shadow: 0px 0px 5px $grayLight
    box-shadow: 0px 0px 5px $grayLight