.products__item_unique
  &_2
    padding-top: 41px
    .products
      &__section
        float: right
        &_second
          float: left
          text-align: left
      &__title
        margin-top: 33px
  &_3
    padding-top: 41px
    .products
      &__title
        margin-top: 11px
  &_4
    padding: 21px 0 28px 0
    .products
      &__section
        float: right
        &_second
          float: left
          text-align: left
      &__title
        margin-top: 62px
  &_5
    padding-top: 62px
    .products
      &__title
        margin-top: 5px
  &_6
    padding-top: 36px
    padding-bottom: 61px
    .products
      &__section
        float: right
        &_second
          float: left
          text-align: left
      &__title
        margin-top: -2px
  &_7
    padding: 44px 0 64px 0
    .products
      &__section
        float: right
        &_second
          float: left
          text-align: left
      &__title
        margin-top: -2px
  &_8
    padding: 48px 0 37px 0
    .products
      &__section
        float: right
        &_second
          float: left
          text-align: left
      &__title
        margin-top: -3px
  &_9
    padding: 47px 0 65px 0
    .products
      &__title
        margin-top: -5px