.form-select_color
  &_white-transparent
    .jq-selectbox__select
      background: none
    .placeholder,
    .jq-selectbox__select-text
      color: white
    .jq-selectbox__trigger-arrow
      border-top: 5px solid white