.category-rubricator__header-text
  border: 0
  border-bottom: 1px solid
  outline: none
  text-decoration: none
  font-size: $fs-base-large
  &:hover,
  &:visited,
  &:focus
    outline: none
    text-decoration: none
    cursor: pointer