.quiz-wrapper_main-page
  //margin-bottom: 50px
  .content__title_size_xs
    margin-top: 34px
    margin-bottom: 18px
    line-height: 36px
    color: $white-opacity-80
  .text
    margin-bottom: 35px
  .form-choice
    margin-bottom: 15px
  .form-textarea
    margin-left: 44px
    //margin-bottom: 25px
    width: calc( 100% - 44px )
    color: white
    border-color: $white-opacity-80
    border-radius: 3px
  .form-submit
    font-size: $fs-small