.start-yb__title
  margin-bottom: 40px
  line-height: 58px
  font-size: 48px
  font-family: "robotolight"
  &_company
    margin-bottom: 0
    margin-top: 0
    font-family: "robotobold"
    font-size: 36px
