.link_underline
  &_false
    text-decoration: none
    outline: none
    border: 0 !important
    transition: color .3s ease
    &:hover,
    &:visited,
    &:focus
      outline: none
      text-decoration: none
      cursor: pointer
      border: 0 !important

  &_dashed
    border-bottom: 1px dashed